[build]
builder = "NIXPACKS"

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "music-legends-bot"

[services.variables]
PYTHON_VERSION = "3.11"
NODE_VERSION = "18"
