git+https://github.com/Rapptz/discord.py@master
python-dotenv
pathlib
uuid
requests
spotipy
stripe
redis
rq
aioredis
apscheduler
Pillow
aiohttp
eth-account
web3
google-api-python-client
sqlalchemy
aiosqlite
# Force rebuild